.semasky-header {
  height: @header-height;
  width: 100%;
  background: @teal-lighten-2;

  .semasky {
    padding: 0 0 0 @padding-xxlarge;
    color: @white;
    font-size: @font-size-xxlarge;
    display: inline-block;
    line-height: @header-height;
  }
}
