.search-result-section {
  overflow: scroll;
  height: calc(~'100vh - 320px');

  .contents {
    margin: @margin-xxlarge;

    .file {
      margin: @margin-small;
      padding: @padding-normal;
      display: inline-block;
      height: 100px;
      width: 100px;
      text-align: center;

      .thumbnail {
        display: block;
        margin: 0 auto;
        height: 60px;
      }

      .filename {
        color: @gray-darken-2;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        background: @gray-lighten-3;
        cursor: pointer;
      }
    }
  }

  .file-detail {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    width: 60%;
    margin: auto;
    z-index: 1;
    background: @gray-lighten-3;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
  }
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
