.upload-section {
  #droppable {
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: right bottom;

    position: fixed;
    z-index: -1;
    top: 320px;
    bottom: 0;
    line-height: calc(~'100vh - 320px');
    width: 100%;
    .help {
      display: none;
    }
    font-family: 'Noto Sans', sans-serif;
    text-align: center;

    &.ondrop {
      background: rgba(0, 0, 0, 0.3);

      .help {
        display: inline-block;
        font-size: 60px;
        color: @white;
      }
    }
  }
}

@media screen and (max-width: @tablet-portrait-width) {
  #droppable {
    top: 220px !important;
    line-height: calc(~'100vh - 220px');
  }
}
