<header class="semasky-header">
  <img class="logo" src="/assets/images/logo.png">
  <span class="semasky">
    Semasky
  </span>
  <span class="subtitle">
    Semantic Content Management Cloud
  </span>

  <span class="logout"  *ngIf="type === 'search'">
    <a (click)="logout($event)">
      ログアウト
    </a>
  </span>

  <span class="welcome"  *ngIf="type === 'welcome'">
    <a (click)="logout($event)">
      新規登録
    </a>
    /
    <a (click)="logout($event)">
      ログイン
    </a>
  </span>
</header>
